
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300, 400,600);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);




/*---------------------------	Layout Styles	---------------------------*/
#templateContainer {
	background-color: #fff8ea;
	margin:100px 50px 0px 250px;
	overflow:auto;
	height:90%;
	min-width:1026px;
	position:relative;
	font-family: 'Open Sans', 'Lato', sans-serif;
	background-color: #EDEff3;
}

p{
	line-height: 1.4;
	color: grey;
}

/*-------------------------	Header Styles	---------------------------*/
header{
	background-color: #7A1249;
	z-index: 2;
	position: relative;
}

header #mainTitle{
	color: white;
	font-family: 'Lato';
	font-size:45px;
	text-align: center;
	padding: 25px 0;
	font-weight: 300;
}



/*-------------------------	Content Styles	---------------------------*/
#mainContentContainer{
	text-align: center;
	background-color: white;
	padding: 70px 0 60px;
	z-index: 1;
	position: relative;
}

#mainContentH1{
	font-size: 30px;
	padding-bottom: 10px;
	font-weight: 300;
	color: #0a465b;
	text-transform: capitalize;
	position: relative;
}

#mainContent{
	text-align: center;
	width: 800px;
	margin: 0 auto;
	color: #9caeb4;
	font-size: 18px;
	font-weight: 300;
	border-top:2px solid #FFA500;
	padding-top: 20px;
	position: relative;
}

.blocks {
	width: 1000px;
	height: 450px;
	margin: 30px auto 20px;
}



.pointSeperator {
	width: 100%;
	background-color: #d1d1d0;
	height: 5px;
	-webkit-box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, .3);
	box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, .3);
	position: relative;
	z-index: 1000;
}

.specializePoint {
	width: 300px;
	height: 340px;
	box-sizing: border-box;
	/* padding: 10px; */
	float: left;
	margin-top: 50px;
	margin-right: 50px;
	margin-bottom: 30px;
	background: #fff;
	border: 0px solid #dedede;
	/*border-radius: 10px;*/
	-webkit-transition: .1s;
	transition: .1s;
	-webkit-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, .2);
	-moz-box-shadow:    0px 3px 8px 0px rgba(0, 0, 0, .2);
	box-shadow:         0px 3px 8px 0px rgba(0, 0, 0, .2);
	position: relative;
}

.specializePoint:hover {
	-webkit-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, .4);
	-moz-box-shadow:    0px 3px 8px 0px rgba(0, 0, 0, .4);
	box-shadow:         0px 3px 8px 0px rgba(0, 0, 0, .4);
	cursor: pointer;
	-webkit-transition: .1s;
	transition: .1s;
}

.specializePoint h2 {
	font-size: 27px;
	padding: 25px 20px 25px;
	box-sizing: border-box;
	text-align: center;
	margin-top: 0px;
	font-variant: small-caps;
	background-color: #107698;
	width: 100%;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	color: #fff; 
}

.specializePoint p {
	padding: 20px 25px;
	font-size: 16px;
	display: inline-block;
	line-height: 1.4;
	color: #FFA500;
}


footer{
	height:95px;
	background-color: #504f4f;
	position: relative;
	text-align: center;
	color: white;
	text-transform: uppercase;
}

footer p{
	font-size: 18px;
	text-align: center;
	color: white;
	padding-top: 40px;
}




